
VITE_API_URL=http://localhost:5001
PORT=5001
MONGO_URI=mongodb://saiman:saiman@ac-2whnb7p-shard-00-00.o2d7dvt.mongodb.net:27017,ac-2whnb7p-shard-00-01.o2d7dvt.mongodb.net:27017,ac-2whnb7p-shard-00-02.o2d7dvt.mongodb.net:27017/?ssl=true&replicaSet=atlas-629u0j-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=secret123
CLOUDINARY_CLOUD_NAME=dkrkjxx7e
CLOUDINARY_API_KEY=459384938912693
CLOUDINARY_API_SECRET=X7q0VI7cC9wFU8PGC_CxKT_He08